# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Alchemy Table/.vs/Alchemy Table/project-colors.json
Alchemy Table/.vs/Alchemy Table/v17/Browse.VC.db
Alchemy Table/.vs/Alchemy Table/v17/Browse.VC.db-shm
Alchemy Table/.vs/Alchemy Table/v17/Browse.VC.db-wal
Alchemy Table/.vs/Alchemy Table/v17/Browse.VC.opendb
Alchemy Table/.vs/Alchemy Table/v17/ipch/AutoPCH/262681e7da897b59/ALCHEMY TABLE.ipch
Alchemy Table/.vs/Alchemy Table/v17/ipch/AutoPCH/6ba1d57027a39da0/RUNE.ipch
Alchemy Table/.vs/Alchemy Table/v17/ipch/AutoPCH/c99e30fa5c5e0fe9/MAIN.ipch
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.exe.recipe
Alchemy Table/Alchemy Table/x64/Debug/vc143.idb
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/Alchemy Table.lastbuildstate
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/CL.command.1.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/CL.read.1.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/CL.write.1.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/link.20292.read.1.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/link.20292.read.2.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/link.20292.write.1.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/link.20292-cvtres.read.1.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/link.20292-cvtres.write.1.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/link.20292-rc.read.1.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/link.20292-rc.write.1.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/link.command.1.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/link.read.1.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/link.read.2.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/link.write.1.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/link-cvtres.read.1.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/link-cvtres.write.1.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/link-rc.read.1.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/link-rc.write.1.tlog
Alchemy Table/Alchemy Table/x64/Debug/Alchemy Table.tlog/unsuccessfulbuild
